$max-items: 10;
$animation-duration-fade: 400ms;
$animation-duration-slide: 700ms;
$animation-duration-flip: 500ms;

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes opacitin {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes opacitout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slidedown {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideleft {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadein {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.5);
		opacity: 0;
	}
}

@keyframes flipin {
	from {
		transform: rotateY(90deg);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes flipout {
	from {
		transform: none;
		opacity: 1;
	}
	to {
		transform: rotateY(90deg);
		opacity: 0;
	}
}

.slideup {
	opacity: 0;
	transform: translateY(100%);
	animation-duration: $animation-duration-slide;
	animation-name: slideUp;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.slideleft {
	opacity: 0;
	transform: translateX(-100%);
	animation-duration: $animation-duration-slide;
	animation-name: slideleft;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.slidedown {
	opacity: 0;
	transform: translateY(100%);
	animation-duration: $animation-duration-slide;
	animation-name: slidedown;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.fadein {
	opacity: 0;
	animation-duration: $animation-duration-fade;
	animation-name: fadein;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.opacitin {
	opacity: 0;
	animation-duration: $animation-duration-fade;
	animation-name: opacitin;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.fadeout {
	opacity: 1;
	animation-duration: $animation-duration-fade;
	animation-name: fadeout;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.opacitout {
	opacity: 1;
	animation-duration: $animation-duration-fade;
	animation-name: opacitout;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.flipin {
	opacity: 0;
	transform: rotateY(90deg);
	animation-duration: $animation-duration-flip;
	animation-name: flipin;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.flipout {
	animation-duration: $animation-duration-flip;
	animation-name: flipout;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.regressive {
	.slideup, .slideleft, .slidedown,.fadein, .flipin, .flipout {
		opacity: 1 !important;
		transform: none !important;
		animation-duration: 0s;
	}
	.fadeout {
		opacity: 0 !important;
	}
}

.fast {
	animation-duration: 300ms;
}

@for $i from 1 through $max-items {
	.delay-#{$i} {
		animation-delay: #{($i * 350)}ms;
	}
}