.invalid {
	border-color: $invalid-color;
	color: $invalid-color;

	&::-webkit-input-placeholder {
		color: rgba($invalid-color, 0.8) !important;
	}

	input {
		color: $invalid-color !important;

		&::-webkit-input-placeholder {
			color: rgba($invalid-color, 0.8) !important;
		}
	}

	.icon {
		color: $invalid-color !important;
	}
}