<ion-view class="ocorrencias-usuario">
	<ion-content>
		<div class="container">
			<h4 class="view-title">Minhas Ocorrências</h4>

			<div class="search-wrapper">
				<div class="input-box input-box-composite">
					<i class="icon ion-search"></i>
					<input type="text" placeholder="Pesquisa de ocorrências" class="input" ng-model="filter" ng-init="filter = ''" />
				</div>
				<span class="add-icon ion-plus" data-ui-sref="app.ocorrencia_nova"></span>
			</div>

			<div class="list list-inset" ng-if="vm.chamados.length">
				<div class="item" ui-sref="app.ocorrencia_usuario({id: chamado.id})" ng-repeat="chamado in vm.chamados | filter:filter">
          <div class="title">{{chamado.titulo}}</div>
          <div class="subitem">
            <i class="icon ion-android-calendar"></i>
            {{chamado.data_aberto.timestamp | date:'dd/MM/yy - HH:MM'}}
          </div>
          <div class="subitem status status-{{chamado.status}}">
            <i class="icon ion-android-alert"></i>
            {{chamado.status}}
          </div>
				</div>
			</div>

			<div class="no-results-found" ng-show="!vm.chamados.length && vm.alreadyLoaded">
        <div class="fadein" ng-include="'templates/includes/icon-list-empty.svg'"></div>
				<span class="slideup">Não foram encontrados resultados</span>
			</div>

		</div>
	</ion-content>
</ion-view>
